
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL:1200px;

@mixin telefono {
    @media (min-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin desktopXL {
    @media (min-width: 1200px) {
        @content;
    }
}