@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$primaryFont : 'Montserrat', sans-serif; 

$darkBlue : #1B1F3B;
$lightgreen : #C3DC00;
$black : #000;
$darkgray : #242424;
$gray : #3A3A3A;
$white : #fff;

