@use 'base/variables' as v;
@use 'base/mixins' as m;

.about {
    background-color: #eaedf0;
    margin-top: 2rem;
    padding: 7rem 4rem 0 4rem;
    
    @include m.tablet {
        @include m.grid(2, 2rem);
        grid-template-rows: 1fr;
        grid-template-areas: 
            "n1 n1"
            "n2 n3"
        ;
    }

    .about-preguntas {
        text-align: center;

        @include m.tablet {
            &:nth-child(1) {
                grid-area: n1;
            }
            &:nth-child(2) {
                grid-area: n2;
            }
            &:nth-child(3) {
                grid-area: n3;
            }
        }

        .about-preguntas-principal {
            border-bottom: 2px solid v.$darkgray;
            font-size: 2rem;
            padding-bottom: 2rem;
        }

        .about-preguntas-datos {
            font-size: 4rem;
            text-transform: capitalize;
            
        }

        p {
            text-align: justify;
            font-size: 1.4rem;
            line-height: 3rem;
            
        }
    }
}