@use 'base/variables' as v;
@use 'base/mixins' as m;

.nav {
    position: fixed;
    width: 100%;
    background-color: rgba(v.$black, .9);
    height: 6rem;
    @include m.center;

    img,
    .nav-icon {
        margin-left: auto;
    }

    img {
        width: 14rem;
    }

    @include m.desktop {
        padding: 0 10rem 0 10rem;

        .nav-icon {
            display: none;
        }
    }

    .nav-icon {
        margin-right: 3rem;
        background-color: v.$lightgreen;
        padding: 1rem;
        border-radius: 50%;
        font-weight: 800;
    }

    .nav-menu {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 60px;
        right: 0;
        display: none;
        width: 100%;
        background-color: rgba(#121939, .9);

        @include m.desktop {
            display: block;
            position: initial;
            color: v.$white;
            background-color: rgba(#121939, 0);
        }

        .nav-menu-contenido {
            @include m.center;
            flex-direction: column;
            justify-content: space-around;
            height: 90%;

            @include m.desktop {
                flex-direction: row;
                align-items: flex-start;
            }


            a {
                text-decoration: none;
                font-size: 1.4rem;
                font-weight: 500;
                color: v.$white;
                font-size: 2rem;
                cursor: pointer;
                
                @include m.desktop {
                    font-size: 1.5rem;
                }

            }
        }
    }
}