@use 'base/variables' as v;
@use 'base/mixins' as m;

.patrocinadores {
    background-color: #f8f9fa;
    height: 40rem;
    @include m.center;
    flex-direction: column;

    h2 {
        text-align: center;
        font-size: 3rem;
        font-weight: 800;
        text-transform: uppercase;

        @include m.tablet {
            margin: 0 0 5rem 0;
        }
    }

    @include m.tablet {
        height: 40rem;
    }

    .patrocinadores-img {
        width: 90%;
        @include m.grid(2, 3rem);
        justify-items: center;

        @include m.tablet {
            grid-template-columns: repeat(6, 1fr);
        }

        .contenedor-img {
            @include m.center;
        }

        .img {
            width: 10rem;
        }
    }

}